#footer
  position: fixed
  width: 100%
  left: 0px
  bottom: 0px
  height: 40px
  background: $head-color
  text-align: right
  font-family: Lato
  font-size: 14px

  p
    margin-top: 10px
    margin-right: 30px
    color: $accent-color
