#footer
  position: fixed
  width: 100%
  left: 0px
  bottom: 0px
  height: 40px
  background: $navyblue2
  text-align: right
  font-family: Patua One
  font-size: 14px

  p
    margin-top: 10px
    margin-right: 30px
    color: $rustyred
