.home-sections
  .member.col-2
    max-width: 100px
    //background: pink
    img
     max-width: 100px
     max-height: 120px

    p
      font-family: Lato
      font-size: 14px
      text-align: center
      text-transform: uppercase
      color: $rustyred
